@{
    ViewData["Title"] = "About";
}

<h1>About page</h1>
<p>Sample App to test <a href="https://docs.microsoft.com/en-us/aspnet/core/security/authentication/ws-federation" target="_blank">Authenticate users with WS-Federation in ASP.NET Core</a></p>